<html>
    <head>
        <style>
        .column {
        float: left;
        width: 50%;
        }

        /* Clear floats after the columns */
        .row:after {
        content: "";
        display: table;
        clear: both;
        }

        .hide{
            display: none;
        }
        .show{
            display: block;
        }
        </style>
    </head>
<body>
<h1><img src="../assets/images.png"/>Cat Mash</h1>

    
<% for(var index = 0; index < currentRound.battles.length; index ++){
        var firstPlayerId = currentRound.battles[index].firstPlayerId;
        var firstPlayerUrlImg = catsJson.images.find(x => x.id == firstPlayerId).url;

        var secondPlayerId = currentRound.battles[index].secondPlayerId;
        var secondPlayerUrlImg = catsJson.images.find(x => x.id == secondPlayerId).url;
        
%>
<div class="row<%= index != 0 ? ' hide' : ' show'%> ">
    <div class="column">
        <img src="<%= firstPlayerUrlImg%>" style="width:500"/>
    </div>
    <div class="column">        
        <img src="<%= secondPlayerUrlImg%>" style="width:500"/>
    </div>    
    
</div>
    
<%}%>


</body>

</html>