<html>
    <head>
        <style>
        .column {
        float: left;
        width: 50%;
        }

        .row:after {
        content: "";
        display: table;
        clear: both;
        }

        .hide{
            display: none;
        }
        .show{
            display: block;
        }
        </style>
    </head>
<body>
<h1><img src="images.png"/>Cat Mash</h1>

<div id="battles">
        <%- include('battles.ejs', {battles : currentRound.battles, catsJson: catsJson}); %>
</div>    
<div id="div_battles_<%=currentRound.battles.length + 1%>" class="hide">
<input type="button" value="Continuer" onclick="getNextBattle()"/>
</div>
<div id="winner_div"></div>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script type="text/javascript" src="tournament_client.js"></script>
</body>

</html>