<html>
    <head>
        <link rel="stylesheet" type="text/css" href="tournament.css" />
    </head>
<body>
<h1><img src="images.png" style="width:100px"/>Cat Mash</h1>
<div id="main_div">
        <div id="battles">
            <%- include('battles.ejs', {battles : currentRound.battles, catsJson: catsJson}); %>
        </div>    
        
</div>

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script type="text/javascript" src="tournament_client.js"></script>
</body>

</html>